
*{
    margin: 0;
}

h1
{
    float: left;
    font-size: 500%;
    width: 40%;
    margin-left: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: 2px solid white;
    padding:5px;
    border-radius: 10px;
    margin-top: 8%;
    position: absolute;
}

.saisie{
    font-size: 500%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    position:  absolute;
    margin-top: 30% ;
    width : 50%;
    margin-left: 8%;
}

#nombre{
    font-size: 60px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    color: white;
}


.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.bloc{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#clique
{
    position: absolute;
    font-size: 50%;
    margin-top: 4%;
    margin-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 5%;

}